/* Button */
.p3d-button {
  width: 200px;
  height: 50px;
  background-color: var(--background-color);
  border: none;
  box-shadow: 0px 6px 0px 0px var(--light-primary); /* Add shadow to the bottom */
  text-align: center;
  font-size: 16px;
  line-height: 25px; /* Vertically center the text */
  cursor: pointer;
  color: var(--primary-color);
}

.p3d-button-square {
  width: 50px;
}

  .p3d-button:hover {
    transform: translateX(2px); /* Add a slight lift on hover for interaction */
    transition: transform 0.2s;
  }

  /* Disabled state */
  .p3d-button:disabled {
    background-color: #cccccc;
    color: #666666;
    box-shadow: 0px 6px 0px 0px #999999;
    cursor: not-allowed;
  }

    .p3d-button:disabled:hover {
      transform: none; /* Remove the lift effect for disabled buttons */
    }

/* Underlined input */
.p3d-underlined-input {
  border: none !important;
  background: none !important;
  border-bottom: 1px solid var(--primary-color) !important;
  border-radius: 0px !important;
  color: var(--background-color) !important;
}

  .p3d-underlined-input:focus,
  .p3d-underlined-input:hover {
    border: none !important;
    margin: 0 auto !important;
    background: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid var(--background-color) !important;
    color: var(--background-color) !important;
  }

  /* Disabled state */
  .p3d-underlined-input:disabled {
    border-bottom: 1px solid #cccccc !important;
    color: #666666 !important;
  }

  .p3d-underlined-input:disabled:focus,
  .p3d-underlined-input:disabled:hover {
    border-bottom: 1px solid #cccccc !important;
    color: #666666 !important;
  }
