:root {
  --primary-color: #ef7f69;
  --accent-color: #78c1ca;
  --background-color: #f9f9f8;
  --highlight-color: #ef846d;
  --background-color-accent: #5b9297;
  --background-color-accent-dark: #54858f;
  --light-primary: #f3a799;
  --light-accent: #b8cacc;
}
