<div class="container p3d-bg-color-background">
  <div class="main-body pt-3">
    <div class="row gutters-3">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body p3d-bg-color-light-accent">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="../assets/creator-profile-image.png"
                   alt="Creator Profile Image"
                   class="rounded-circle"
                   width="150">
              <div *ngIf="isOwned" class="mt-3">
                <h4>{{creatorInfo?.companyName || ''}}</h4>
                <p class="text-secondary mb-1">Welcome to your creators profile!</p>
                <p class="text-muted small">You have added {{printers?.length || 'no'}} printers currently</p>
              </div>

              <div *ngIf="!isOwned" class="mt-3">
                <h4>{{creatorInfo?.companyName || ''}}</h4>
                <p class="text-secondary mb-1">You are currently visiting this profile!</p>
                <p class="text-muted small">Owner has {{printers?.length || 'no'}} printers currently</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <ul class="list-group list-group-flush color-card">
            <li class="list-group-item d-flex justify-content-between align-items-center p3d-bg-color-light-accent">
              <span><i class="fa-solid fa-user"></i> Company name</span>
              <span class="text-secondary">{{creatorInfo?.companyName || ''}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p3d-bg-color-light-accent">
              <span><i class="fa-solid fa-map-location-dot"></i> Address</span>
              <span class="text-secondary">{{creatorInfo?.address || ''}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p3d-bg-color-light-accent">
              <span><i class="fa-solid fa-phone"></i> Phone Number</span>
              <span class="text-secondary">{{creatorInfo?.phoneNumber || ''}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">

          <!--Update creator form-->
          <form [formGroup]="upCreatorInfo.form">
            <div class="card-body p3d-bg-color-light-accent">

              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Company name</h6>
                </div>

                <!--Update creator form: companyName-->
                <input [disabled]="upCreatorInfo.form.disabled || upCreatorInfo.loading" type="text" class="col-sm-9 text-secondary" formControlName="companyName">
                <span *ngIf="upCreatorInfo.f.companyName.errors" class="text-danger">
                  <span *ngIf="upCreatorInfo.f.companyName.errors.required">Address is required</span>
                  <span *ngIf="upCreatorInfo.f.companyName.errors.maxlength">Max length is 15 symbols</span>
                </span>

              </div>

              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Address</h6>
                </div>

                <!--Update creator form: address-->
                <input [disabled]="upCreatorInfo.form.disabled || upCreatorInfo.loading" type="text" class="col-sm-9 text-secondary" formControlName="address">
                <span *ngIf="upCreatorInfo.f.address.errors" class="text-danger">
                  <span *ngIf="upCreatorInfo.f.address.errors.required">Address is required</span>
                  <span *ngIf="upCreatorInfo.f.address.errors.maxlength">Max length is 50 symbols</span>
                </span>

              </div>

              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Company description</h6>
                </div>

                <!--Update creator form: description-->
                <input [disabled]="upCreatorInfo.form.disabled || upCreatorInfo.loading" type="text" class="col-sm-9 text-secondary" formControlName="description">
                <span *ngIf="upCreatorInfo.f.description.errors" class="text-danger">
                  <span *ngIf="upCreatorInfo.f.description.errors.required">Address is required</span>
                  <span *ngIf="upCreatorInfo.f.description.errors.maxlength">Max length is 50 symbols</span>
                </span>

              </div>

              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Main phone number</h6>
                </div>

                <!--Update creator form: phoneNumber-->
                <input [disabled]="upCreatorInfo.form.disabled || upCreatorInfo.loading" type="text" class="col-sm-9 text-secondary" formControlName="phoneNumber">
                <span *ngIf="upCreatorInfo.f.phoneNumber.errors" class="text-danger">
                  <span *ngIf="upCreatorInfo.f.phoneNumber.errors.required">Phone number is required</span>
                  <span *ngIf="upCreatorInfo.f.phoneNumber.errors.pattern">Phone numer has invalid format</span>
                </span>

              </div>

              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Alternative phone number</h6>
                </div>

                <!--Update creator form: alternativePhoneNumber-->
                <input [disabled]="upCreatorInfo.form.disabled || upCreatorInfo.loading" type="text" class="col-sm-9 text-secondary" formControlName="alternativePhoneNumber">
                <span *ngIf="upCreatorInfo.f.alternativePhoneNumber.errors" class="text-danger">
                  <span *ngIf="upCreatorInfo.f.alternativePhoneNumber.errors.required">Alternative phone number is required</span>
                  <span *ngIf="upCreatorInfo.f.alternativePhoneNumber.errors.pattern">Alternative phone numer has invalid format</span>
                </span>

              </div>

              <hr>

              <div *ngIf="isOwned" class="row">

                <div class="col-sm-12">
                  <!--Update creator form: edit-->
                  <button type="button" [disabled]="upCreatorInfo.canBeEdited || upCreatorInfo.loading" class="p3d-button float-end"
                          (click)="upCreatorInfo.edit()">
                    Edit
                  </button>

                  <!--Update creator form: submit-->
                  <button type="button" [disabled]="upCreatorInfo.form.invalid || !upCreatorInfo.canBeEdited || !upCreatorInfo.form.touched || upCreatorInfo.loading" class="p3d-button float-end mx-2"
                          (click)="updateCreatorInfo()">
                    <span *ngIf="upCreatorInfo.loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Save
                  </button>
                </div>
              </div>
            </div>
          </form>

        </div>

        <div class="accordion" id="materialsAndPrintersAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingMaterials">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMaterials" aria-expanded="false" aria-controls="collapseMaterials">
                Available materials
              </button>
            </h2>
            <div id="collapseMaterials" class="accordion-collapse collapse show" aria-labelledby="headingMaterials" data-bs-parent="#materialsAndPrintersAccordion">
              <div class="accordion-body">

                <!--Update material form-->
                <form [formGroup]="upMaterials.form">
                  <div *ngFor="let materialFormGroup of upMaterials.materialsFormGroupArray; let i = index" [formGroup]="materialFormGroup">
                    <div class="card">

                      <div class="row g-0 flex-sm-row">
                        <!--Left card part with image-->
                        <div class="col-md-4 d-flex align-items-center justify-content-center">
                          <img src="../assets/creator-profile-material.png" alt="Creator Material Image" class="img-fluid rounded-start">
                        </div>

                        <!--Right card part with image-->
                        <div class="col-md-8">
                          <div class="card-body p3d-bg-color-light-accent">

                            <!-- colorId -->
                            <div class="mb-3">
                              <label for="colorId" class="form-label">Color:</label>
                              <select id="colorId" class="form-select" formControlName="colorId">
                                <option *ngFor="let color of colors" [value]="color.id">{{color.name}}</option>
                              </select>
                              <div *ngIf="materialFormGroup.controls.colorId.errors" class="invalid-feedback d-block">
                                <div *ngIf="materialFormGroup.controls.colorId.errors.required">Color is required.</div>
                              </div>
                            </div>
                            <!-- templateMaterialId -->
                            <div class="mb-3">
                              <label for="templateMaterialId" class="form-label">Template Material:</label>
                              <select id="templateMaterialId"
                                      class="form-select"
                                      formControlName="templateMaterialId"
                                      (change)="onTemplateMaterialSelected(i, $event)">
                                <option *ngFor="let templateMaterial of templateMaterials" [value]="templateMaterial.id">{{templateMaterial.name}}</option>
                              </select>
                              <div *ngIf="materialFormGroup.controls.templateMaterialId.errors" class="invalid-feedback d-block">
                                <div *ngIf="materialFormGroup.controls.templateMaterialId.errors.required">Template Material is required.</div>
                              </div>
                            </div>
                            <!-- name -->
                            <div class="mb-3">
                              <label for="name" class="form-label">Name:</label>
                              <input id="name" type="text" class="form-control" formControlName="name" placeholder="Enter Name" />
                              <div *ngIf="materialFormGroup.controls.name.errors" class="invalid-feedback d-block">
                                <div *ngIf="materialFormGroup.controls.name.errors.required">Name material is required.</div>
                                <div *ngIf="materialFormGroup.controls.name.errors.maxlength">Max length is 50 symbols.</div>
                              </div>
                            </div>
                            <!-- isActive -->
                            <div class="mb-3 form-check">
                              <input id="isActive" type="checkbox" class="form-check-input" formControlName="isActive" />
                              <label for="isActive" class="form-check-label">Is Active:</label>
                              <div *ngIf="materialFormGroup.controls.isActive.errors" class="invalid-feedback d-block">
                                <div *ngIf="materialFormGroup.controls.isActive.errors.required">Activity flag is required.</div>
                              </div>
                            </div>

                          </div>
                        </div>
                        <div *ngIf="isOwned" class="card-footer">
                          <!-- Delete Button -->
                          <div class="d-flex justify-content-end">
                            <button type="button" class="p3d-button p3d-button-square" [disabled]="!upMaterials.canBeEdited || upMaterials.loading" (click)="upMaterials.deleteMaterialModel(i)"><i class="fa-solid fa-xmark text-danger"></i></button>
                          </div>
                        </div>

                        <hr>

                      </div>
                    </div>
                  </div>
                  <!-- Add, Save and Edit Buttons -->
                  <div *ngIf="isOwned" class="d-flex justify-content-between">
                    <div>
                      <button type="button" class="p3d-button" [disabled]="!upMaterials.canBeEdited || upMaterials.loading" (click)="upMaterials.addEmptyMaterialModel()">Add</button>

                      <button type="submit" class="p3d-button mx-2" [disabled]="upMaterials.form.invalid ||!upMaterials.canBeEdited || !upMaterials.form.touched || upMaterials.loading" (click)="updateMaterials()">
                        <span *ngIf="upMaterials.loading" class="spinner-border spinner-border-sm me-2"></span> Save
                      </button>
                    </div>
                    <button type="button" class="p3d-button" [disabled]="upMaterials.canBeEdited || upMaterials.loading" (click)="upMaterials.edit()">Edit</button>

                  </div>

                </form>

              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingPrinters">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePrinters" aria-expanded="false" aria-controls="collapsePrinters">
                Available printers
              </button>
            </h2>
            <div id="collapsePrinters" class="accordion-collapse collapse show" aria-labelledby="headingPrinters" data-bs-parent="#materialsAndPrintersAccordion">
              <div class="accordion-body">

                <!--Update printer form-->
                <form [formGroup]="upPrinters.form">
                  <div *ngFor="let printerFormGroup of upPrinters.printersFormGroupArray; let i = index" [formGroup]="printerFormGroup">
                    <div class="card">

                      <div class="row g-0 flex-sm-row">
                        <!--Left card part with image-->
                        <div class="col-md-4 col-md-4 d-flex align-items-center justify-content-center">
                          <img src="../assets/creator-profile-printer.png" alt="Creator Printer Image" class="img-fluid rounded-start">
                        </div>

                        <!--Right card part with image-->
                        <div class="col-md-8">
                          <div class="card-body p3d-bg-color-light-accent">

                            <!-- nozzleId -->
                            <div class="mb-3">
                              <label for="nozzleId" class="form-label">Nozzle:</label>
                              <select id="nozzleId" class="form-select" formControlName="nozzleId">
                                <option *ngFor="let nozzle of nozzles" [value]="nozzle.id">{{nozzle.size}}</option>
                              </select>
                              <div *ngIf="printerFormGroup.controls.nozzleId.errors" class="invalid-feedback d-block">
                                <div *ngIf="printerFormGroup.controls.nozzleId.errors.required">Nozzle is required.</div>
                              </div>
                            </div>

                            <!-- templatePrinterId -->
                            <div class="mb-3">
                              <label for="templatePrinterId" class="form-label">Template Printer:</label>
                              <select id="templatePrinterId"
                                      class="form-select"
                                      formControlName="templatePrinterId"
                                      (change)="onTemplatePrinterSelected(i, $event)">
                                <option *ngFor="let templatePrinter of templatePrinters" [value]="templatePrinter.id">{{templatePrinter.modelName}}</option>
                              </select>
                              <div *ngIf="printerFormGroup.controls.templatePrinterId.errors" class="invalid-feedback d-block">
                                <div *ngIf="printerFormGroup.controls.templatePrinterId.errors.required">Template Printer is required.</div>
                              </div>
                            </div>

                            <!-- modelName -->
                            <div class="mb-3">
                              <label for="modelName" class="form-label">Model name:</label>
                              <input id="modelName" type="text" class="form-control" formControlName="modelName" placeholder="Enter model name" />
                              <div *ngIf="printerFormGroup.controls.modelName.errors" class="invalid-feedback d-block">
                                <div *ngIf="printerFormGroup.controls.modelName.errors.required">Model name printer is required.</div>
                                <div *ngIf="printerFormGroup.controls.modelName.errors.maxlength">Max length is 50 symbols.</div>
                              </div>
                            </div>

                            <!-- printAreaLength -->
                            <div class="mb-3">
                              <label for="printAreaLength" class="form-label">Print area length (mm):</label>
                              <input id="printAreaLength" type="text" class="form-control" formControlName="printAreaLength" placeholder="Enter print area length" />
                              <div *ngIf="printerFormGroup.controls.printAreaLength.errors" class="invalid-feedback d-block">
                                <div *ngIf="printerFormGroup.controls.printAreaLength.errors.required">Print area length is required.</div>
                                <div *ngIf="printerFormGroup.controls.printAreaLength.errors.max">Max length is 1000 mm.</div>
                                <div *ngIf="printerFormGroup.controls.printAreaLength.errors.min">Min length is 0 mm.</div>
                              </div>
                            </div>

                            <!-- printAreaWidth -->
                            <div class="mb-3">
                              <label for="printAreaWidth" class="form-label">Print area width (mm):</label>
                              <input id="printAreaWidth" type="text" class="form-control" formControlName="printAreaWidth" placeholder="Enter print area width" />
                              <div *ngIf="printerFormGroup.controls.printAreaWidth.errors" class="invalid-feedback d-block">
                                <div *ngIf="printerFormGroup.controls.printAreaWidth.errors.required">Print area width is required.</div>
                                <div *ngIf="printerFormGroup.controls.printAreaWidth.errors.max">Max width is 1000 mm.</div>
                                <div *ngIf="printerFormGroup.controls.printAreaWidth.errors.min">Min width is 0 mm.</div>
                              </div>
                            </div>

                            <!-- printAreaHeight -->
                            <div class="mb-3">
                              <label for="printAreaHeight" class="form-label">Print area height (mm):</label>
                              <input id="printAreaHeight" type="text" class="form-control" formControlName="printAreaHeight" placeholder="Enter print area height" />
                              <div *ngIf="printerFormGroup.controls.printAreaHeight.errors" class="invalid-feedback d-block">
                                <div *ngIf="printerFormGroup.controls.printAreaHeight.errors.required">Print area height is required.</div>
                                <div *ngIf="printerFormGroup.controls.printAreaHeight.errors.max">Max height is 1000 mm.</div>
                                <div *ngIf="printerFormGroup.controls.printAreaHeight.errors.min">Min height is 0 mm.</div>
                              </div>
                            </div>

                            <!-- isActive -->
                            <div class="mb-3 form-check">
                              <input id="isActive" type="checkbox" class="form-check-input" formControlName="isActive" />
                              <label for="isActive" class="form-check-label">Is Active:</label>
                              <div *ngIf="printerFormGroup.controls.isActive.errors" class="invalid-feedback d-block">
                                <div *ngIf="printerFormGroup.controls.isActive.errors.required">Activity flag is required.</div>
                              </div>
                            </div>

                          </div>
                        </div>
                        <div class="card-footer">
                          <!-- Delete Button -->
                          <div *ngIf="isOwned" class="d-flex justify-content-end">
                            <button type="button" class="p3d-button p3d-button-square" [disabled]="!upPrinters.canBeEdited || upPrinters.loading" (click)="upPrinters.deletePrinterModel(i)"><i class="fa-solid fa-xmark text-danger"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Add, Save and Edit Buttons -->
                  <div *ngIf="isOwned" class="d-flex justify-content-between">
                    <div>
                      <button type="button" class="p3d-button" [disabled]="!upPrinters.canBeEdited || upPrinters.loading" (click)="upPrinters.addEmptyPrinterModel()">Add</button>

                      <button type="submit" class="p3d-button mx-2" [disabled]="upPrinters.form.invalid || !upPrinters.canBeEdited || !upPrinters.form.touched || upPrinters.loading" (click)="updatePrinters()">
                        <span *ngIf="upPrinters.loading" class="spinner-border spinner-border-sm me-2"></span> Save
                      </button>
                    </div>
                    <button type="button" class="p3d-button" [disabled]="upPrinters.canBeEdited || upPrinters.loading" (click)="upPrinters.edit()">Edit</button>

                  </div>

                </form>

              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
