<div class="container p3d-bg-color-background">
  <div class="main-body pt-3">
    <div class="row gutters-3">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body p3d-bg-color-light-accent">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="../assets/creator-profile-image.png"
                   alt="Creator Profile Image"
                   class="rounded-circle"
                   width="150">
              <div class="mt-3">
                <h4>{{currentUser.name}}</h4>
                <p class="text-secondary mb-1">Welcome to your creators profile!</p>
                <p class="text-muted small">You have added (2) printers currently</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <ul class="list-group list-group-flush color-card">
            <li class="list-group-item d-flex justify-content-between align-items-center p3d-bg-color-light-accent">
              <span><i class="fa-solid fa-user"></i> Name</span>
              <span class="text-secondary">{{currentUser.name}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p3d-bg-color-light-accent">
              <span><i class="fa-solid fa-envelope"></i> Email</span>
              <span class="text-secondary">{{currentUser.email}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p3d-bg-color-light-accent">
              <span><i class="fa-solid fa-map-location-dot"></i> Address</span>
              <span class="text-secondary">{{creatorInfo.address}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p3d-bg-color-light-accent">
              <span><i class="fa-solid fa-phone"></i> Phone Number</span>
              <span class="text-secondary">{{creatorInfo.phoneNumber}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">

          <!--Update creator form-->
          <form [formGroup]="upCreatorInfo.form" (submit)="updateCreatorInfo()">
            <div class="card-body p3d-bg-color-light-accent">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Main phone number</h6>
                </div>

                <!--Update creator form: phoneNumber-->
                <input [disabled]="upCreatorInfo.form.disabled || upCreatorInfo.loading" type="text" class="col-sm-9 text-secondary" formControlName="phoneNumber">
                <span *ngIf="upCreatorInfo.submitted && upCreatorInfo.f.phoneNumber.errors" class="text-danger">
                  <span *ngIf="upCreatorInfo.f.phoneNumber.errors.required">Phone number is required</span>
                  <span *ngIf="upCreatorInfo.f.phoneNumber.errors.pattern">Phone numer has invalid format</span>
                </span>

              </div>

              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Alternative phone number</h6>
                </div>

                <!--Update creator form: alternativePhoneNumber-->
                <input [disabled]="upCreatorInfo.form.disabled || upCreatorInfo.loading" type="text" class="col-sm-9 text-secondary" formControlName="alternativePhoneNumber">
                <span *ngIf="upCreatorInfo.submitted && upCreatorInfo.f.alternativePhoneNumber.errors" class="text-danger">
                  <span *ngIf="upCreatorInfo.f.alternativePhoneNumber.errors.required">Alternative phone number is required</span>
                  <span *ngIf="upCreatorInfo.f.alternativePhoneNumber.errors.pattern">Alternative phone numer has invalid format</span>
                </span>

              </div>

              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Address</h6>
                </div>

                <!--Update creator form: address-->
                <input [disabled]="upCreatorInfo.form.disabled || upCreatorInfo.loading" type="text" class="col-sm-9 text-secondary" formControlName="address">
                <span *ngIf="upCreatorInfo.submitted && upCreatorInfo.f.address.errors" class="text-danger">
                  <span *ngIf="upCreatorInfo.f.address.errors.required">Address is required</span>
                  <span *ngIf="upCreatorInfo.f.address.errors.maxlength">Max length is 50 symbols</span>
                </span>

              </div>

              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Company description</h6>
                </div>

                <!--Update creator form: description-->
                <input [disabled]="upCreatorInfo.form.disabled || upCreatorInfo.loading" type="text" class="col-sm-9 text-secondary" formControlName="description">
                <span *ngIf="upCreatorInfo.submitted && upCreatorInfo.f.description.errors" class="text-danger">
                  <span *ngIf="upCreatorInfo.f.description.errors.required">Address is required</span>
                  <span *ngIf="upCreatorInfo.f.description.errors.maxlength">Max length is 50 symbols</span>
                </span>

              </div>
              <hr>
              <div class="row">

                <div class="col-sm-12">
                  <!--Update creator form: edit-->
                  <button type="button" [disabled]="!upCreatorInfo.form.disabled || upCreatorInfo.loading" class="p3d-button float-end"
                          (click)="upCreatorInfo.enable()">Edit</button>

                  <!--Update creator form: submit-->
                  <button type="submit" [disabled]="upCreatorInfo.form.disabled || !upCreatorInfo.form.touched || upCreatorInfo.loading" class="p3d-button float-end mx-2">
                    <span *ngIf="upCreatorInfo.loading" class="spinner-border spinner-border-sm mr-1"></span> Save</button>
                </div>
              </div>
            </div>
          </form>

        </div>

        <div class="row gutters-3">
          <div class="col-sm-6 mb-3">
            <div class="card h-100 p3d-bg-color-light-accent">
              <div class="card-body">
                <h5 class="card-title p3d-bg-color-light-accent">3D Printer</h5>
                <p class="card-text"><strong>Model:</strong> Prusa i3</p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item p3d-bg-color-background-accent"><strong>Supported Material Type:</strong> PLA, ABS, PETG</li>
                  <li class="list-group-item p3d-bg-color-background-accent"><strong>Supported Layer Height:</strong> 0.05mm - 0.4mm</li>
                  <li class="list-group-item p3d-bg-color-background-accent"><strong>Print Size:</strong> 200mm x 200mm x 180mm</li>
                  <li class="list-group-item p3d-bg-color-background-accent"><strong>Supported Nozzle Size:</strong> 0.4mm</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!--Update creator form-->
        <form [formGroup]="upMaterials.form">

          <!--Update materials form: add-->
          <button type="button" [disabled]="upMaterials.form.disabled || upMaterials.loading" class="p3d-button float-end"
                  (click)="upMaterials.addEmptyMaterialModel()">
            Add
          </button>

          <div *ngFor="let materialFormGroup of upMaterials.materialsFormGroupArray; let i = index"
               [formGroup]="materialFormGroup">

            <!--Update materials form: colorId-->
            <div class="form-field">
              <label for="colorId">Color:</label>
              <select id="colorId" formControlName="colorId">
                <option *ngFor="let color of colors"
                        [value]="color.id">
                  {{color.name}}
                </option>
              </select>
            </div>
            <span *ngIf="upMaterials.submitted && materialFormGroup.controls.colorId.errors" class="text-danger">
              <span *ngIf="materialFormGroup.controls.colorId.errors.required">Color is required</span>
            </span>

            <!--Update materials form: templateId-->
            <div class="form-field">
              <label for="templateMaterialId">Template Material</label>
              <select id="templateMaterialId" formControlName="templateMaterialId">
                <option *ngFor="let templateMaterial of templateMaterials"
                        [value]="templateMaterial.id">
                  {{templateMaterial.name}}
                </option>
              </select>
            </div>
            <span *ngIf="upMaterials.submitted && materialFormGroup.controls.templateMaterialId.errors" class="text-danger">
              <span *ngIf="materialFormGroup.controls.templateMaterialId.errors.required">Template material is required</span>
            </span>

            <!--Update materials form: name-->
            <div class="form-field">
              <label for="name">Name:</label>
              <input id="name" type="text" formControlName="name" placeholder="Enter Name" />
            </div>
            <span *ngIf="upMaterials.submitted && materialFormGroup.controls.name.errors" class="text-danger">
              <span *ngIf="materialFormGroup.controls.name.errors.required">Name material is required</span>
              <span *ngIf="materialFormGroup.controls.name.errors.maxlength">Max length is 50 symbols</span>
            </span>

            <!--Update materials form: isActive-->
            <div class="form-field">
              <label for="isActive">Is Active:</label>
              <input id="isActive" type="checkbox" formControlName="isActive" />
            </div>
            <span *ngIf="upMaterials.submitted && materialFormGroup.controls.isActive.errors" class="text-danger">
              <span *ngIf="materialFormGroup.controls.isActive.errors.required">Activity flag is required</span>
            </span>

            <!--Update materials form: delete-->
            <button type="button" [disabled]="upMaterials.form.disabled || upMaterials.loading" class="p3d-button float-end"
                    (click)="upMaterials.deleteMaterialModel(i)">
              Delete
            </button>

          </div>

          <!--Update materials form: edit-->
          <button type="button" [disabled]="!upMaterials.form.disabled || upMaterials.loading" class="p3d-button float-end"
                  (click)="upMaterials.enable()">
            Edit
          </button>

          <!--Update materials form: submit-->
          <button type="submit" [disabled]="upMaterials.form.disabled || !upMaterials.form.touched || upMaterials.loading" class="p3d-button float-end mx-2"
                  (click)="updateMaterials()">
            <span *ngIf="upMaterials.loading" class="spinner-border spinner-border-sm mr-1"></span> Save
          </button>

        </form>
      </div>
    </div>
  </div>
</div>
