<div class="container pb-5 mb-2">
  <!-- Alert -->
  <div class="alert alert-info alert-dismissible fade show text-center mb-3" role="alert">
    <span class="alert-close" data-dismiss="alert"></span>
    <span *ngIf="printRequests?.length > 0">
      <i class="fa fa-award"></i>&nbsp;&nbsp;The {{printRequests.length}} print requests are suitable for you. Feel free to submit them!
      Click <a [routerLink]="['/creator', currentUser.id, 'profile']">here</a> to update your profile
    </span>
    <span *ngIf="printRequests?.length <= 0">
      <i class="fa fa-award"></i>&nbsp;&nbsp;There are currently no print requests to submit. Update your profile to get more PRs available!
      Click <a [routerLink]="['/creator', currentUser.id, 'profile']">here</a> to update your profile
    </span>
  </div>

  <!-- PrintRequest Info -->
  <div class="cart-item d-md-flex justify-content-between mb-3" *ngFor="let printRequest of printRequests; let i=index">

    <!-- Creator submit -->
    <span *ngIf="isCurrentCreatorNotYetSubmitted(printRequest)" class="submit-item" (click)="submitPrintRequest(printRequest.id)"><i class="fa-solid fa-check"></i></span>

    <div class="px-3 my-3">
      <a class="cart-item-product" href="#">
        <div class="cart-item-product-thumb"><img src="../assets/customer-print-request.jpg" alt="Print Request Image"></div>
        <div class="cart-item-product-info">
          <h4 class="cart-item-product-title">Model name: file001.stl</h4>
          <span><strong>Size, mm:</strong> {{printRequest.printAreaLength || 0}} x {{printRequest.printAreaWidth || 0}} x {{printRequest.printAreaHeight || 0}}</span>
          <span><strong>Using supports:</strong> {{printRequest.useSupports || 'Up to creator'}}</span>
          <span><strong>Wall thickness, mm:</strong> {{printRequest.wallThickness || 'Up to creator'}}</span>

          <!--Promts to help creator on current PR status-->
          <span *ngIf="isCurrentCreatorNotYetSubmitted(printRequest)"><strong>Note:</strong> Click 'Approve' button if ready to pick up this PR</span>
          <span *ngIf="isCustomerSubmittedForCurrentCreator(printRequest)"><strong>Note:</strong> Congrats! Customer choose you for this PR. Now let him contact you via phone.</span>
          <span *ngIf="isCurrentCreatorAlreadySubmitted(printRequest)"><strong>Note:</strong> You already submitted this PR. Waiting for customer decision</span>
        </div>
      </a>
    </div>

    <!--templateMaterialId-->
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Material</div>
      <span class="text-xl font-weight-medium">{{getMaterialName(printRequest.templateMaterialId) || '-'}}</span>
    </div>

    <!--colorId-->
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Color</div>
      <span class="text-xl font-weight-medium">{{getColorName(printRequest.colorId) || '-'}}</span>
    </div>

    <!--printRequestStatusName-->
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Status</div>
      <span class="text-xl font-weight-medium">{{printRequest.printRequestStatusName || '-'}}</span>
    </div>

    <!--layerHeight-->
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Layer Height, mm</div>
      <span class="text-xl font-weight-medium">{{printRequest.layerHeight || '-'}}</span>
    </div>

    <!--infill-->
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Infill, %</div>
      <span class="text-xl font-weight-medium">{{printRequest.infill || '-'}}</span>
    </div>

  </div>

  <!-- Buttons -->
  <hr class="my-2">
  <div class="row pt-3 pb-5 mb-2">
    <div class="col-sm-6 mb-3">

      <!-- Refresh -->
      <button class="p3d-button" (click)="refreshPrintRequests()">
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
        Refresh
      </button>

  </div>
</div>
