<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom border-dark font-weight-bolder">
  <div class="navbar-brand">
    <a [routerLink]="['/']">
      <div class="navbar-brand">
        <img src="https://i.pinimg.com/564x/b7/58/30/b75830efd5dc7483d6c0976ba2eb095e.jpg" alt="logo" style="width:60px;">
      </div>
      <div class="badge">
        <h3>Super photo service</h3>
      </div>
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
</nav>
