<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom border-dark font-weight-bolder">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="https://i.pinimg.com/564x/b7/58/30/b75830efd5dc7483d6c0976ba2eb095e.jpg" alt="logo" style="width:60px;">
      <div class="badge bg-light text-dark">
        <h3>Print 3D Marketplace</h3>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      
      <ul class="navbar-nav ms-auto">
        <li *ngIf="currentUser" class="nav-item dropdown">
          <a class="navbar-text dropdown-toggle" id="navbardrop" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account: {{currentUser.email  }}</a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbardrop">
            <li><button (click)="profile()" class="dropdown-item">Profile</button></li>
            <li><button (click)="logout()" class="dropdown-item">Logout</button></li>
          </ul>
        </li>
        <li *ngIf="!currentUser" class="nav-item">
          <a [routerLink]="['/user/login']" class="nav-link">Login here</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
