<div class="container pb-5 mb-2">
  <!-- Alert -->
  <div class="alert alert-info alert-dismissible fade show text-center mb-3" role="alert">
    <span class="alert-close" data-dismiss="alert"></span>
    <i class="fa fa-award"></i>&nbsp;&nbsp;With this purchase you will earn <strong>2,549</strong> Reward Points.
  </div>

  <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>

  <button (click)="refreshPrintRequests()"> Refresh </button>


  <!-- PrintRequest Info -->
  <div class="cart-item d-md-flex justify-content-between mb-3" *ngFor="let printRequest of printRequests; let i=index">
    <span class="remove-item" (click)="cancelPrintRequest(printRequest.id)"><i class="fa fa-times"></i></span>
    <div class="px-3 my-3">
      <a class="cart-item-product" href="#">
        <div class="cart-item-product-thumb"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Product"></div>
        <div class="cart-item-product-info">
          <h4 class="cart-item-product-title">Canon EOS M50 Mirrorless Camera</h4>
          <span><strong>Type:</strong> Mirrorless</span>
          <span><strong>Color:</strong> Black</span>
        </div>
      </a>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Quantity</div>
      <div class="count-input">
        <select class="form-select">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
        </select>
      </div>
    </div>

    <!--templateMaterialId-->
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Material</div>
      <span class="text-xl font-weight-medium">{{getMaterialName(printRequest.templateMaterialId)}}</span>
    </div>

    <!--colorId-->
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Color</div>
      <span class="text-xl font-weight-medium">{{getColorName(printRequest.colorId)}}</span>
    </div>

    <!--printRequestStatusName-->
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Status</div>
      <span class="text-xl font-weight-medium">{{printRequest.printRequestStatusName}}</span>
    </div>

    <!--layerHeight-->
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Layer Height</div>
      <span class="text-xl font-weight-medium">{{printRequest.layerHeight}}</span>
    </div>

    <!--infill-->
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Infill, %</div>
      <span class="text-xl font-weight-medium">{{printRequest.infill}}</span>
    </div>

  </div>

  <!-- Coupon + Subtotal -->
  <div class="d-sm-flex justify-content-between align-items-center text-center text-sm-left mb-3">
    <form class="form-inline py-2">
      <label class="sr-only">Coupon code</label>
      <input class="form-control form-control-sm my-2 mr-3" type="text" placeholder="Coupon code" required>
      <button class="btn btn-secondary btn-sm my-2 mx-auto mx-sm-0" type="submit">Apply Coupon</button>
    </form>
    <div class="py-2">
      <span class="d-inline-block align-middle text-sm text-muted font-weight-medium text-uppercase mr-2">Subtotal:</span>
      <span class="d-inline-block align-middle text-xl font-weight-medium">$188.50</span>
    </div>
  </div>

  <!-- Buttons -->
  <hr class="my-2">
  <div class="row pt-3 pb-5 mb-2">
    <div class="col-sm-6 mb-3">
      <a class="btn btn-secondary btn-block" href="#"><i class="fa fa-refresh"></i>&nbsp;Update Cart</a>
    </div>
    <div class="col-sm-6 mb-3">
      <a class="btn btn-primary btn-block" href="checkout-address.html"><i class="fa fa-credit-card"></i>&nbsp;Checkout</a>
    </div>
  </div>
</div>
