<div class="container pb-5 mb-2">
  <!-- Alert -->
  <div class="alert alert-info alert-dismissible fade show text-center mb-3" role="alert">
    <span *ngIf="printRequests?.length > 0">
      <i class="fa fa-award"></i>&nbsp;&nbsp;Your currently have successfully created {{printRequests.length}} print requests!
      Click <a [routerLink]="['/customer', this.currentUser.id, 'print-request-creation']">here</a> to add more
    </span>
    <span *ngIf="printRequests?.length <= 0">
      <i class="fa fa-award"></i>&nbsp;&nbsp;There are currently no print requests created.
      Click <a [routerLink]="['/customer', this.currentUser.id, 'print-request-creation']">here</a> to add more
    </span>
  </div>

  <!-- PrintRequest Info -->
  <div class="cart-item d-md-flex justify-content-between mb-3" *ngFor="let printRequest of printRequests; let i=index">
 
    <!-- Customer cancel -->
    <span *ngIf="isCustomerAbleToCancel(printRequest)" class="remove-item" (click)="cancelPrintRequest(printRequest.id)"><i class="fa fa-times"></i></span>

    <div class="px-3 my-3 col-4">
      <a class="cart-item-product" href="#">
        <div class="cart-item-product-thumb"><img src="../assets/customer-print-request.jpg" alt="Print Request Image"></div>
        <div class="cart-item-product-info">
          <h4 class="cart-item-product-title">Model name: {{printRequest.fileName || 'Empty file'}}</h4>
          <span><strong>Size, mm:</strong> {{printRequest.printAreaLength || 0}} x {{printRequest.printAreaWidth || 0}} x {{printRequest.printAreaHeight || 0}}</span>
          <span><strong>Using supports:</strong> {{printRequest.useSupports || 'Up to creator'}}</span>
          <span><strong>Wall thickness, mm:</strong> {{printRequest.wallThickness || 'Up to creator'}}</span>

          <!--Promts to help creator on current PR status-->
          <span *ngIf="isAnyCreatorAlreadySubmitted(printRequest)"><strong>Note:</strong> At least one creator is will to complete your PR. Choose creator to continue</span>
          <span *ngIf="isCustomerSubmittedForAnyCreator(printRequest)"><strong>Note:</strong> Congrats, you have choosen your creator. Contact him cia phone to continue</span>
        </div>
      </a>
    </div>

    <!--templateMaterialId-->
    <div class="px-3 my-3 text-center col-1">
      <div class="cart-item-label">Material</div>
      <span class="text-xl font-weight-medium">{{getMaterialName(printRequest.templateMaterialId) || '-'}}</span>
    </div>

    <!--colorId-->
    <div class="px-3 my-3 text-center col-1">
      <div class="cart-item-label">Color</div>
      <span class="text-xl font-weight-medium">{{getColorName(printRequest.colorId) || '-'}}</span>
    </div>

    <!--printRequestStatusName-->
    <div class="px-3 my-3 text-center col-2">
      <div class="cart-item-label">Status</div>
      <span class="text-xl font-weight-medium">{{printRequest.printRequestStatusName || '-'}}</span>
    </div>

    <!--layerHeight-->
    <div class="px-3 my-3 text-center col-1">
      <div class="cart-item-label">Layer, mm</div>
      <span class="text-xl font-weight-medium">{{printRequest.layerHeight || '-'}}</span>
    </div>

    <!--infill-->
    <div class="px-3 my-3 text-center col-1">
      <div class="cart-item-label">Infill, %</div>
      <span class="text-xl font-weight-medium">{{printRequest.infill || '-'}}</span>
    </div>

    <!-- Submitted creators -->
    <div class="px-3 my-3 col-2">
      <div class="cart-item-label">Submitted by</div>


      <div *ngIf="isAnyCreatorAlreadySubmitted(printRequest)">
        <!-- Creators List -->
        <div *ngFor="let submittedCreator of printRequest.submittedCreators; let j=index">
          <div>
            <span class="text-xl font-weight-medium px-1">{{submittedCreator.creatorName}}</span>
            <!-- Navigate to profile -->
            <a [routerLink]="['/creator', submittedCreator.creatorId, 'profile']">
              <i class="fa-solid fa-arrow-up-right-from-square" style="cursor:pointer;"></i>
            </a>
            <!-- Choose Creator -->
            <a (click)="sumbitCreator(printRequest.id, submittedCreator.creatorId)">
              <i class="fa-solid fa-user-check" style="cursor:pointer;"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Condition for no submitted creators -->
      <div *ngIf="!printRequest.submittedCreators || !printRequest.submittedCreators.length">
        <span class="text-xl font-weight-medium">No creators have submitted yet</span>
      </div>

      <!-- Condition for already  submitted creators -->
      <div *ngIf="isCustomerSubmittedForAnyCreator(printRequest)">
        <span class="text-xl font-weight-medium">Creator already submitted!</span>
      </div>
    </div>

  </div>

  <!-- Buttons -->
  <hr class="my-2">
  <div class="row pt-3 pb-5 mb-2">
    <div class="col-sm-6 mb-3">

      <!-- Refresh -->
      <button class="p3d-button" (click)="refreshPrintRequests()">
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
        Refresh
      </button>

    </div>
  </div>
</div>
