<div class="container pb-5 mb-2">
  <!-- Alert -->
  <div class="alert alert-info alert-dismissible fade show text-center mb-3" role="alert">
    <span class="alert-close" data-dismiss="alert"></span>
    <i class="fa fa-award"></i>&nbsp;&nbsp;With this purchase you will earn <strong>2,549</strong> Reward Points.
  </div>

  <div class="cart-item d-md-flex justify-content-between mb-3"
       *ngFor="let printRequest of printRequests; let i=index">
    <!-- PrintRequest Info -->
    <div class="px-3 my-3">
      <a class="cart-item-product" href="#">
        <div class="cart-item-product-info">
          <h4 class="cart-item-product-title">Print Request #{{i + 1}}</h4>
          <!-- Material and Color from printRequest -->
          <span>
            <strong>Material:</strong>
            {{getMaterialName(printRequest.templateMaterialId)}}
          </span>
          <span>
            <strong>Color:</strong>
            {{getColorName(printRequest.colorId)}}
          </span>
          <span><strong>Print Request Status:</strong> {{printRequest.printRequestStatusName}}</span>
          <span><strong>Layer Height:</strong> {{printRequest.layerHeight}}</span>
          <span><strong>Infill:</strong> {{printRequest.infill}}</span>
          <span><strong>Printing Area Length:</strong> {{printRequest.printAreaLength}}</span>
          <span><strong>Printing Area Width:</strong> {{printRequest.printAreaWidth}}</span>
          <span><strong>Printing Area Height:</strong> {{printRequest.printAreaHeight}}</span>
          <span><strong>Use Supports:</strong> {{printRequest.useSupports}}</span>
          <span><strong>Wall Thickness:</strong> {{printRequest.wallThickness}}</span>
          <span><strong>Comment:</strong> {{printRequest.comment}}</span>
          <span><strong>Is Active:</strong> {{printRequest.isActive}}</span>
        </div>
      </a>
    </div>
  </div>



  <!-- Cart Item 1 -->
  <div class="cart-item d-md-flex justify-content-between mb-3">
    <span class="remove-item"><i class="fa fa-times"></i></span>
    <div class="px-3 my-3">
      <a class="cart-item-product" href="#">
        <div class="cart-item-product-thumb"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Product"></div>
        <div class="cart-item-product-info">
          <h4 class="cart-item-product-title">Canon EOS M50 Mirrorless Camera</h4>
          <span><strong>Type:</strong> Mirrorless</span>
          <span><strong>Color:</strong> Black</span>
        </div>
      </a>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Quantity</div>
      <div class="count-input">
        <select class="form-select">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
        </select>
      </div>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Subtotal</div>
      <span class="text-xl font-weight-medium">$910.00</span>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Discount</div>
      <span class="text-xl font-weight-medium">$35.00</span>
    </div>
  </div>

  <!-- Cart Item 2 -->
  <div class="cart-item d-md-flex justify-content-between mb-3">
    <span class="remove-item"><i class="fa fa-times"></i></span>
    <div class="px-3 my-3">
      <a class="cart-item-product" href="#">
        <div class="cart-item-product-thumb"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Product"></div>
        <div class="cart-item-product-info">
          <h4 class="cart-item-product-title">Apple iPhone X 256 GB Space Gray</h4>
          <span><strong>Memory:</strong> 256GB</span>
          <span><strong>Color:</strong> Space Gray</span>
        </div>
      </a>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Quantity</div>
      <div class="count-input">
        <select class="form-select">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
        </select>
      </div>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Subtotal</div>
      <span class="text-xl font-weight-medium">$1,450.00</span>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Discount</div>
      <span class="text-xl font-weight-medium">—</span>
    </div>
  </div>

  <!-- Cart Item 3 -->
  <div class="cart-item d-md-flex justify-content-between mb-3">
    <span class="remove-item"><i class="fa fa-times"></i></span>
    <div class="px-3 my-3">
      <a class="cart-item-product" href="#">
        <div class="cart-item-product-thumb"><img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Product"></div>
        <div class="cart-item-product-info">
          <h4 class="cart-item-product-title">HP LaserJet Pro Laser Printer</h4>
          <span><strong>Type:</strong> Laser</span>
          <span><strong>Color:</strong> White</span>
        </div>
      </a>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Quantity</div>
      <div class="count-input">
        <select class="form-select">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
        </select>
      </div>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Subtotal</div>
      <span class="text-xl font-weight-medium">$188.50</span>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Discount</div>
      <span class="text-xl font-weight-medium">—</span>
    </div>
  </div>

  <!-- Coupon + Subtotal -->
  <div class="d-sm-flex justify-content-between align-items-center text-center text-sm-left mb-3">
    <form class="form-inline py-2">
      <label class="sr-only">Coupon code</label>
      <input class="form-control form-control-sm my-2 mr-3" type="text" placeholder="Coupon code" required>
      <button class="btn btn-secondary btn-sm my-2 mx-auto mx-sm-0" type="submit">Apply Coupon</button>
    </form>
    <div class="py-2">
      <span class="d-inline-block align-middle text-sm text-muted font-weight-medium text-uppercase mr-2">Subtotal:</span>
      <span class="d-inline-block align-middle text-xl font-weight-medium">$188.50</span>
    </div>
  </div>

  <!-- Buttons -->
  <hr class="my-2">
  <div class="row pt-3 pb-5 mb-2">
    <div class="col-sm-6 mb-3">
      <a class="btn btn-secondary btn-block" href="#"><i class="fa fa-refresh"></i>&nbsp;Update Cart</a>
    </div>
    <div class="col-sm-6 mb-3">
      <a class="btn btn-primary btn-block" href="checkout-address.html"><i class="fa fa-credit-card"></i>&nbsp;Checkout</a>
    </div>
  </div>
</div>
