<section class="order-form m-4">
  <div class="container pt-4">
    <div class="row">
      <div class="col-12 px-4">
        <h1>Create a new print request</h1>
        <span>You will be notified when creators accept your print request</span>
        <hr class="mt-1" />
      </div>

      <div class="col-12">
        <div class="row mx-4">
          <div class="col-12">
            <label class="order-form-label">Material</label>
          </div>
          <div class="col-6">
            <div class="d-flex align-items-center">
              <select class="form-select">
                <option selected>-- Choose material --</option>
                <option value="1">ABS</option>
                <option value="2">PLA</option>
                <option value="3">PETG</option>
              </select>
              <fa-icon [icon]="faInfoCircle" size="xl" class="p-1"
                       title="Carefully choose appropriate material. Significantly impacts on cost and durability of the model"></fa-icon>
            </div>
          </div>
        </div>

        <div class="row mt-3 mx-4">
          <div class="col-12">
            <label class="order-form-label">Layer height</label>
          </div>
          <div class="col-6">
            <div class="d-flex align-items-center">
              <select class="form-select">
                <option selected>-- Choose height --</option>
                <option value="1">0.1</option>
                <option value="2">0.2</option>
                <option value="3">0.4</option>
              </select>
              <fa-icon [icon]="faInfoCircle" size="xl" class="p-1"
                       title="Higher values produce faster prints in lower resolution, lower values produce slower prints in higher resolution"></fa-icon>
            </div>
          </div>
        </div>

        <div class="row mt-3 mx-4">
          <div class="col-12">
            <label class="order-form-label">Model size</label>
          </div>
          <div class="col-4">
            <div class="form-outline">
              <input type="text" id="form4" class="form-control order-form-input" />
              <label class="form-label">Length, mm</label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-outline">
              <input type="text" id="form4" class="form-control order-form-input" />
              <label class="form-label">Width, mm</label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-outline">
              <input type="text" id="form4" class="form-control order-form-input" />
              <label class="form-label">Height, mm</label>
            </div>
          </div>
        </div>

        <div class="row mt-3 mx-4">
          <div class="col-12">
            <label class="order-form-label" for="date-picker-example">Infill percentage</label>
          </div>
          <div class="col-6">
            <div class="d-flex align-items-center">
              <select class="form-select">
                <option selected>-- Choose infill --</option>
                <option value="1">10%</option>
                <option value="2">20%</option>
                <option value="3">30%</option>
                <option value="3">30%</option>
                <option value="3">40%</option>
                <option value="3">50%</option>
                <option value="3">60%</option>
                <option value="3">70%</option>
                <option value="3">80%</option>
                <option value="3">90%</option>
                <option value="3">100%</option>
              </select>
              <fa-icon [icon]="faInfoCircle" size="xl" class="p-1"
                       title="It affects the strength and weight of the product"></fa-icon>
            </div>
          </div>
        </div>

        <div class="row mt-3 mx-4">
          <div class="col-12">
            <label class="order-form-label">Color</label>
          </div>
          <div class="col-6">
            <div class="d-flex align-items-center">
              <select class="form-select">
                <option selected>-- Choose color --</option>
                <option value="1">Any</option>
                <option value="1">Red</option>
                <option value="2">Green</option>
                <option value="3">Blue</option>
              </select>
              <fa-icon [icon]="faInfoCircle" size="xl" class="p-1"
                       title="Choose 'any' option if it is doesn't matter'"></fa-icon>
            </div>
          </div>
        </div>

        <div class="row mt-3 mx-4">
          <div class="col-12">
            <label class="order-form-label">Upload stl model</label>
          </div>
          <div class="col-12">
            <input class="form-control" type="file" id="formFile">
          </div>
        </div>

        <div class="row mt-3 mx-4">
          <div class="col-12">
            <label class="order-form-label">General comment</label>
          </div>
          <div class="col-12">
            <div class="form-outline">
              <textarea class="form-control order-form-input" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
        </div>

        <div class="col-12 p-3">
          <hr class="mt-1" />
          <span>Expierenced user options, choose only if you are sure what you are doing</span>
        </div>

        <div class="col-12">
          <div class="row mx-4">
            <div class="col-12">
              <label class="order-form-label">Supports</label>
            </div>
            <div class="col-6">
              <div class="d-flex align-items-center">
                <select class="form-select">
                  <option selected>-- Use supports --</option>
                  <option value="1">Yes</option>
                  <option value="2">No</option>
                  <option value="3">Not sure</option>
                </select>
                <fa-icon [icon]="faInfoCircle" size="xl" class="p-1"
                         title="Supports are necessary for the construction of overhanging elements of the model"></fa-icon>
              </div>
            </div>
          </div>

          <div class="row mt-3 mx-4">
            <div class="col-12">
              <label class="order-form-label">Border width</label>
            </div>
            <div class="col-6">
              <div class="d-flex align-items-center">
                <select class="form-select">
                  <option selected>-- Choose border --</option>
                  <option value="1">0.1</option>
                  <option value="2">0.2</option>
                  <option value="3">0.4</option>
                  <option value="3">Not sure</option>
                </select>
                <fa-icon [icon]="faInfoCircle" size="xl" class="p-1"
                         title="The thickness of the wall, as well as the internal filling, affects the strength and weight of the model."></fa-icon>
              </div>
            </div>
          </div>

          <div class="row mt-3 mx-4">
            <div class="col-12">
              <label class="order-form-label">Nozzle size</label>
            </div>
            <div class="col-6">
              <div class="d-flex align-items-center">
                <select class="form-select">
                  <option selected>-- Choose nozzle --</option>
                  <option value="1">0.2</option>
                  <option value="1">0.3</option>
                  <option value="2">0.4</option>
                  <option value="3">Not sure</option>
                </select>
                <fa-icon [icon]="faInfoCircle" size="xl" class="p-1"
                         title="A smaller nozzle size will result in higher-resolution prints with smoother finishes"></fa-icon>
              </div>
            </div>
          </div>

        </div>
        <div class="row mt-3">
          <div class="col-12">
            <button type="button" id="btnSubmit" class="p3d-button float-end">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
