<div class="split-container">
  <div class="split p3d-bg-color-primary">
    <div class="choose-card p3d-color-background">
      <h2 class="header">I am Customer</h2>
      <p class="description">I want my 3D ideas to be brought to life</p>
      <button type="button" class="p3d-button p3d-color-accent" [routerLink]="['/customer/register']">Register <i class="fa-solid fa-circle-arrow-right"></i></button>
    </div>
  </div>
  <div class="split p3d-bg-color-accent">
    <div class="choose-card p3d-color-background">
      <h2 class="header">I am Creator</h2>
      <p class="description">I want to bring other people's ideas to life</p>
      <button type="button" class="p3d-button" [routerLink]="['/creator/register']">Register <i class="fa-solid fa-circle-arrow-right"></i></button>
    </div>
  </div>
</div>
