.split-container {
  display: flex;
  height: 100vh;
}

.split {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choose-card {
  width: 300px;
  text-align: center;
  justify-content: center;
  margin: auto;
}

  .choose-card .header {
    font-family: 'Roboto-Bold';
  }

  .choose-card .description {
    font-family: 'Roboto-Italic';
  }
